<div class="card mt-4" *ngIf="produit">
    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
    <div class="card-body">
        <h3 class="card-title">{{produit.name}}</h3>
        <h4>{{produit.prix | currency }}</h4>
        <p class="card-text">{{produit.description}}</p>
        <form #f="ngForm" (ngSubmit)="onAddProductToCart(produit)">
            <label class="control-label">Quantité :</label>
            <input type="number" name="quantity" [(ngModel)]="produit.quantity" ngModel style="width: 40px">
            <button>Panier
            </button>
        </form>
    </div>
    <hr>
    <a [routerLink]="['/']" class="btn btn-success">Retour à la liste</a>
</div>