<div class="container col-lg-6">
  <h1 class="text-center">Login</h1>
  <div class="card">
    <div class="card-body">      
      <form class="form-group" #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <div class="form-group">
          <label for="email">User Name :</label>
          <input type="text" name="username" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" name="password" ngModel class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>