<div class="row">
    <div class="col-lg-3">
        <h1 class="my-4">Categories</h1>
        <div class="list-group" *ngIf="categories">
            <a [ngClass]="activeCategorie==c.id ? 'active' : ''" (click)="getProduitByCat(c.id)"
                class="list-group-item clickable" *ngFor="let c of categories">
                {{c.name}}
            </a>
        </div>
    </div>

    <div class="col-lg-9 ">
        <app-produits [activeCategorie]="activeCategorie"></app-produits>
    </div>
</div>