<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"  >Exercice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

      </ul>
      <ul class=" nav navbar-nav pull-right">
        <li>
          <a [routerLink]="['/panier']" routerLinkActive="router-link-active">
            <span class="badge badge-light">
              {{nbrePanier}}</span>
            <img class="img-circle img-thumbnail img-rounded" src="assets/img/shopping_cart.png"
              style="width: 30px; height: 30px;">
          </a>
        </li>
      </ul>
      <ul *ngIf="!this.authService.isAuthenticated()" class="nav navbar-nav pull-right">
        <li>
          <a class="btn clickable userC" (click)="onLogin()">
            Se connecter
          </a>
        </li>
      </ul>
      <ul *ngIf="this.authService.isAuthenticated()" class="nav navbar-nav pull-right">
        <li>
          <a class="btn clickable userC" (click)="onLogout()">
            <span class="glyphicon glyphicon-log-out"></span>Déconnecter
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container espace">
  <router-outlet></router-outlet>
</div>