<div class="row ">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let p of produits">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a [routerLink]="['/produit', p.id]">{{p.name}} - {{p.id}}</a>
                </h4>
                <h5>{{p.prix | currency }}</h5>
                <p class="card-text">{{p.description}}</p>
            </div>
            <div class="card-footer">
                <form #f="ngForm" (ngSubmit)="onAddProductToCart(p)">
                    <label class="control-label">Quantité :</label>
                    <input type="number" name="quantity" [(ngModel)]="p.quantity" ngModel style="width: 40px">
                    <button>Panier
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>