<div class="row">
    <div class="col-lg-9 espace">
        <h1>Votre panier</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom produit</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Qté</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of paniers">
                    <th scope="row">{{p.id}}</th>
                    <td>{{p.name}}</td>
                    <td>{{p.prix}}</td>
                    <td>{{p.qunatity}}</td>
                    <td><button class="btn btn-light" (click)="deletePanier(p)">X</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-3">
        <h1 class="my-4"></h1>
        <br>
        <a [routerLink]="['/']" class="btn btn-dark">Retour à la liste</a>
    </div>

</div>